.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  border: 10px solid #f2f2f2;
  margin-bottom: 5rem;
  background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  border: 2px solid #2a8af1 !important;
}

.mailer h1 {
  margin-top: 25px;
  text-align: center;
}
.form-group {
  width: 100%;
}
/* .row-mailer {
  margin: 25px 85px 75px 100px;
} */

.btn-primary {
  margin-top: 30px;
}
.contact-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.whatsapp-img{
width: 400px;
height: auto;
}
.contact-pg-header{
  text-align: center;
  font-size: 25px;
  margin: 25px;
  color: #0F52BA;
  margin-top: -20px;
}
.wp-img-wrapper{
  align-items: center;
  margin: 25px;
  margin-right: 30px;
}