.books-wrapper {
  margin-top: 5rem;
}
.heading-books {
  text-align: center;
  margin-top: 1rem;
}
.heading-books h2 {
  font-size: 30px;
  color: #014b9e;
}
.heading-books h3 {
  color: rgb(173, 172, 172);
  font-size: 20px;
}
.Search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.Search-container input {
  padding: 12px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .heading-books h2 {
    font-size: 20px;
  }
  .Search-container {
    margin-top: 0;
  }
  .heading-books h3 {
    font-size: 10px;
  }
}
